<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <div class="float-left">
                  <h3>A brief introduction</h3>
                  <p>R&R Decorators was born 4 years ago after the founder of the company had worked as a self contractor decorator for a couple of years. Iniatially, the company was a service provider for big players in the B2B market, working in several new residential and commercial buildings managed by these companies in and around London. Since January 2019, the company has decided to shift its focus to the B2C customer and has since worked in partnership with several architecture and design studios</p>
                </div>
                <div>
                  <h3>What can we offer you?</h3>
                  <p>Expertise, reliability, hard work and the highest standards of quality are our main differentiators. We work around the clock to ensure your deadlines are met and that you and your customers have nothing but praises to say once the job is finish. At the end of the day, our main source of new businesses aquisition up to now was the word of mouth.</p>
                </div>
                <div>
                 <h3 class="float-right">Why are we different?</h3>
                <p>We are a young and ambitious team, eager to grow. Did you know that the majority of London's most renowed decorating companies do not employ a single decorator and can barely tell their bushes from their paint rollers? That also left us completely astounded and it was our 'eureka moment': why we, the people delivering the jobs, should be sharing the profits with companies whose sole purpose is to connect people like you to us? By cutting the middle men, we are able to offer a more competitve rate to our customers and still make a fairer salary ourselves. No brainer, right? We will be pleased to send you as many references as you may need and we have all the necessary tools, permits and insurances to start any job, anywhere. The only thing we ask you is for a challenge. Let us proof to you that quality and affordable rates can walk hand in hand!</p>
                </div>
            </div>
        </div>
    </div>
</section>

