<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <!-- <h2>We'd love to hear from you</h2> -->
            <!-- <a href="#" class="btn btn-default btn-xl wow tada">Get a quote now!</a> -->
            <a href="mailto:rrdecorators@outlook.com" class="btn btn-default btn-xl wow tada">Email us now</a>
        </div>
    </div>
</aside>

