<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="logo">
              <!-- <div class="col-lg-3 col-md-6 text-center"> -->
            <%= image_tag "creative/portfolio/LOGO-RR---ESCURO.png", class: "img-responsive", alt: "" %>
          </div>
            <hr>
            <p>A team of professional decorators ready to transform your house. </br><strong>No job is too big or too small</strong></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
      </div>
    </div>
</header>

